@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  max-width: 1600px;
  margin: auto;
  height: 100vh;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h3 {
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 1.4rem;
}

/* LOADER */
/* flouter le background */
@keyframes blur {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-img {
  0% {
    transform: translateY(0);
    opacity: 1;
    transform: rotate(0deg);
  }
  10% {
    transform: translateY(-20%);
    transform: rotate(-10deg);
  }
  50% {
    transform: translateY(-40%);
    transform: rotate(-10deg);
  }
  60% {
    transform: translateY(-20%);
    transform: rotate(-10deg);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0%);
    transform: rotate(0deg);
    opacity: 0;
  }
}
@keyframes loader-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}
/* rotation des borders */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
  }
}
/* disparition du texte */
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* ICONE HEART */
/* remplissage de l'icône */
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.presentation__btn {
  color: #fff;
  font-size: 0.9rem;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0.8rem 2.5rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 2px 0 4px rgb(174, 172, 172), -2px 3px 10px rgb(174, 172, 172);
}
.presentation__btn:hover {
  opacity: 0.9;
  box-shadow: 2px 0 4px rgb(119, 119, 119), -2px 3px 10px rgb(119, 119, 119);
  transform: scale(1.01);
}

#loader {
  background-color: #fff;
}

.loader {
  height: 100vh;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 160px;
  width: 260px;
  height: 260px;
  /* placement au milieu de la page */
  margin: auto;
  position: absolute;
  top: 0;
  bottom: -60px;
  left: 0;
  right: 0;
  animation: spin 3s forwards;
  z-index: 10;
}

.loader__text {
  width: 200px;
  z-index: 5;
  position: absolute;
  top: 59%;
  margin: auto;
  left: 0;
  text-align: center;
  right: 0;
  z-index: 5;
  animation: fadeout 3s forwards;
}

.header, .main__homepage {
  animation: blur 4s;
}

.top-img img {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 1;
  animation: loader-img 2s forwards;
  content: "";
}
.top-img img::before {
  position: relative;
  left: -30%;
  right: 2px;
  content: "ohmyfood";
  color: black;
  z-index: -1;
}

.bottom-img img {
  width: 100px;
  height: 20px;
  margin-top: -10px;
  margin-left: 2px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: -100px;
  left: 0;
  right: -5px;
  z-index: 5;
  /*animation: fadeout 5s forwards;*/
  animation: loader-bottom 2s forwards;
}

.fa-heart {
  position: absolute;
  transform: translate(-70%, -50%);
}

.fas {
  background-color: #fff;
  color: #FF79DA;
  opacity: 0;
  transition: color 1s ease;
}

.header__logo {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo__link {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}
.header__logo__link__arrow {
  position: absolute;
  left: 1rem;
}
.header__location {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  padding: 1rem auto;
  background-color: #e6e6e6;
}
.header__location__city {
  margin-left: 0.5rem;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #333333;
  padding: 1.5rem 2rem;
  line-height: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}
.footer__title {
  margin-bottom: 1rem;
  font-weight: 100;
}
.footer__link-grp {
  display: flex;
  align-items: center;
}
.footer__link i {
  width: 6px;
  font-size: 10px;
  margin-right: 1rem;
  color: white;
}
.footer__link i:hover {
  color: #9356DC;
}
.footer__link-txt {
  color: white;
}
.footer__link-txt:hover {
  color: #d7c0f2;
}

@media screen and (max-width: 750px) {
  .footer {
    width: 100%;
    margin: 0 auto;
    background-color: #333333;
    padding: 1.5rem 2rem;
    line-height: 1.3rem;
    color: white;
    display: flex;
    flex-direction: column;
  }
  .footer__title {
    margin-bottom: 1rem;
    font-weight: 100;
  }
  .footer__link-grp {
    display: flex;
    align-items: center;
  }
  .footer__link i {
    width: 6px;
    font-size: 10px;
    margin-right: 1rem;
    color: white;
  }
  .footer__link-txt {
    color: white;
  }
}
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding: 3rem 1rem;
}
.presentation__title {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  width: 55%;
  text-align: center;
  margin-bottom: 1.2rem;
}
.presentation__text {
  text-align: center;
  margin-bottom: 1.2rem;
}

.instructions {
  padding: 2rem 1rem 1.5rem 1rem;
}
.instructions__title {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.instructions__list {
  /* display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: space-evenly;
  grid-gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .instructions__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.instructions__step {
  display: flex;
  width: 30%;
  align-items: center;
  margin: 1rem 0;
  border-radius: 1.4rem;
  font-size: 0.9rem;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .instructions__step {
    width: 100%;
  }
}
.instructions__number {
  background-color: #9356DC;
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 12px;
  z-index: 1;
}
.instructions__grp {
  display: flex;
  height: 1rem;
  align-items: center;
  width: 100%;
  background-color: #fafafa;
  padding: 2rem 1.5rem;
  border-radius: 20px;
  position: relative;
  left: -10px;
  box-shadow: -5px -5px 20px rgb(239, 237, 237), 10px 10px 30px rgb(239, 237, 237);
  content: "";
  cursor: pointer;
}
.instructions__grp:hover {
  background-color: #f2eafb;
  box-shadow: 2px 0 px rgb(181, 181, 181), -2px 3px 10px rgb(177, 177, 177);
}
.instructions__grp__icon {
  margin: 0 1rem 0 0.2rem;
  font-size: 0.8rem;
  background-clip: text;
  color: black;
  opacity: 1;
}
.instructions__grp__icon:hover {
  color: #9356DC;
}

.restaurants {
  padding: 2rem 1rem 1.5rem 1rem;
  background-color: #f3f3f3;
}
.restaurants__title {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.restaurants__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .restaurants__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants__card {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem;
  box-shadow: 2px 0 px rgb(181, 181, 181), -2px 3px 10px rgb(177, 177, 177);
}
@media screen and (max-width: 767px) {
  .restaurants__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants__card {
    width: 45%;
  }
}
.restaurants__card__thumb {
  height: 160px;
}
.restaurants__card__thumb__img {
  width: 100%;
  height: 160px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.restaurants__card__thumb__tag {
  position: relative;
  margin: 0.6rem 0;
  border-radius: 2px;
  font-weight: bold;
  top: -9.5rem;
  /*left:17rem ;*/
  left: 80%;
  background-color: #99E2D0;
  color: #2c9c81;
  padding: 0.3rem;
  font-size: 0.8rem;
}
@media screen and (max-width: 374px) {
  .restaurants__card__thumb__tag {
    /*left:13.5rem;*/
    left: 75%;
  }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
  .restaurants__card__thumb__tag {
    /* left:90%;*/
    left: 85%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .restaurants__card__thumb__tag {
    /* left:90%;*/
    left: 70%;
  }
}
.restaurants__card__content {
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__card__content:hover .fas {
  opacity: 1;
  animation: FadeIn 1s;
}
.restaurants__card__content__text__name {
  font-weight: bold;
}
.restaurants__card__content__like i {
  font-size: 25px;
}

.main__menu {
  background-color: #fafafa;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .menu {
    position: relative;
    top: -2rem;
  }
}

.menu {
  padding: 0.5rem 1rem;
}
.menu__img {
  background: url("../../public/img/la_palette_du_gout.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 767px) {
  .menu__img {
    height: 200px;
  }
}
.menu__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: #fafafa;
  border-radius: 1.5rem;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .menu__header {
    position: relative;
    top: -2rem;
  }
}
.menu__header__title {
  padding: 0 3rem 0 0;
  text-transform: capitalize;
  z-index: 5;
}
@media screen and (max-width: 320px) {
  .menu__header__title {
    font-size: 1.2rem;
  }
}
.menu__title {
  padding: 0 0 0.2rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  width: 3%;
}
@media screen and (max-width: 320px) {
  .menu__title {
    font-size: 1.1rem;
    width: 15%;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .menu__title {
    width: 10%;
  }
}
.menu__container {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
  height: 4rem;
  transform: scale(1);
}
.menu__content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  padding: 0.7rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__content__title {
  width: 80%;
  font-weight: bold;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__content__more {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.menu__content__more__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 1.6rem;
}
.menu__content__more__price {
  font-weight: bold;
}
.menu__order {
  background-color: #99E2D0;
  border: 1px black;
  width: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  opacity: 0;
}
.menu__order i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #99E2D0;
  background-color: #fff;
  height: 2rem;
  border-radius: 50%;
}
.menu__button {
  padding: 0 0 4rem 0;
  display: flex;
  justify-content: center;
}

.heart-menu {
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
