.menu {
    /*loop for the animation of each menu*/
    @for $i from 1 through 20 {
        .menu__container:nth-child(#{$i}){ 
            animation: cards 0.4s linear;
            animation-delay: $i * 0.2s; 
        } 
    }
    @media screen and (min-width:$desktop-s) and (max-width:2600px) {
        width: 70%;
        margin:0 auto
    }

    &__title{
        padding:0 0 0.2rem 0;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 400;
        border-bottom: 3px solid $tertiary-color;
        width:3%;
        @media screen and (max-width:$mob-s) {
            font-size: 1.1rem;
            width: 15%;
        }
        @media screen and (min-width:321px) and (max-width:$mob-l) {
            width: 10%;
            
        }
    }

    &__container {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:1rem 0;
        font-size: 1rem;
        line-height: 1.5rem;
        width: 100%;
        height:4rem;
        transform: scale(1);
    }

        &__content {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            border-radius: 1rem;
            padding:0.7rem;
            @include text-ellipsis;

            &__title {
                width: 80%;
                font-weight: bold;
                font-size: 1rem;
                @include text-ellipsis;
            }

            &__more {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                &__title {
                    @include text-ellipsis;
                    padding-right: 1.6rem;
                }

                &__price {
                    font-weight: bold;
                }
            }
        }
}



  
