/* layout of icon check and animation*/

.menu {
    &__container {
        &:hover .menu__order {
            width:5%;
            opacity: 1;
            animation: all 0.3s linear;
            transition-duration:0.8s;
            transform: scale(1.1);
            @include box-shadow-hover;
        }
        &:hover .menu__order__icon {
            animation: rotation-icon 0.5s ease-in;
        }
    }
    &__order {
        background-color: $tertiary-color;
        border:1px black;
        width: 0%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 10px 10px 0;
        opacity: 0;

        & i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color:$tertiary-color;
            background-color: #fff;
            height:2rem;
            border-radius: 50%;
        }
    }
    
}