#loader {
    background-color: #fff;    
}
   
.loader {
       height: 100vh;
       border-top: 10px solid $primary-color;
       border-bottom: 10px solid $secondary-color;
       border-radius: 160px;
       width: 260px;
       height: 260px;
       /* placement au milieu de la page */
       margin: auto;
       position: absolute;
       top:0;
       bottom:-60px;
       left:0;
       right: 0;
       animation: spin 5s forwards;
       z-index: 10;    
}
   
.loader__text {
       font-family: $font-2;
       width: 200px;
       z-index: 5;
       position: absolute;
       top: 62%;
       margin: auto;
       left:0;
       text-align: center;
       right: 0;
       z-index:5;
       animation: fadeout 5s forwards;
        
   }
   .header-homepage, .main__homepage {
       animation: blur 5s;
   }
   
   .top-img img {
       width: 100px;
       height: 100px;
       position: absolute;
       margin:auto;
       top:0;
       bottom:0;
       left:0;
       right: 0;
       z-index:5;
       opacity: 1;
       animation: loader-img 5s forwards ;
       &::before {
           position: relative;
           left:-30%;
           right:2px;
           color:black;
           z-index: -1;
       }
   }

   .bottom-img img{
    width: 100px;
    height: 20px;
    margin-top:-10px;
    margin-left:2px;
    position:absolute;
    margin:auto;
    top:0;
    bottom:-100px;
    left:0;
    right: -5px;
    z-index: 5;
    /*animation: fadeout 5s forwards;*/
    animation: loader-bottom 5s forwards;
}