*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    max-width: $max-width;
    margin: auto;
    height: 100vh;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:black;
}