$max-width:1600px;

$font-1:'Roboto',sans-serif;
$font-2: 'Shrikhand', cursive, sans-serif;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$grey-light: lighten(grey, 48%);
$grey-dark: lighten(grey, 45%);
$color-btn:linear-gradient($secondary-color,$primary-color);

$background-footer: lighten(black, 20%);

/* BREAKPOINTS */
$mob-s:320px;
$mob-m:425px;
$mob-l:767px;
$tab-min: 768px;
$tab-max:1023px;
$desktop-s: 1024px;
